frontend/node_modules/
frontend/dist/
build/bin/
*.exe
*.dll
*.db
*.log
wechat_raw_debug.html
frontend/src/**/*.js.map
frontend/package.json.md5

# 编辑器/IDE
.vscode/
.idea/
*.swp
*.swo

# 系统文件
Thumbs.db
.DS_Store
